* {
  box-sizing: border-box;
}
body {
  color: silver;
  background-color: #222222;
  overflow-y: scroll;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}
a:link {
  color: #d06;
}
a:visited {
  color: #d06;
}
a:hover {
  color: #ca7;
}
a:active {
  color: #ca7;
}
.top-bar {
  height: 4px;
  background-color: #d06;
}
.content-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0px 15px;
}
.content {
  position: relative;
  font-size: 1.125rem;
}
#index_items .img-wrapper {
  cursor: pointer;
}
.list {
  padding-left: 0;
  font-size: 0;
}
.list.ul {
  list-style: none;
}
.list .item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  width: calc(33.333333333333336% - 5px);
  position: relative;
}
.list .item::before {
  content: "";
  display: block;
  margin-top: 100%;
}
.list .item .img-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-content h3 {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  margin: 0;
}
.item-content .video-embed-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.item-content .video-embed-wrapper .video-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-comparison-loaded {
  display: flex;
  position: relative;
  user-select: none;
  overflow: hidden;
}
.image-comparison-loaded .image-comparison-before,
.image-comparison-loaded .image-comparison-after {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.image-comparison-loaded .image-comparison-before img,
.image-comparison-loaded .image-comparison-after img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.image-comparison-loaded .image-comparison-after {
  position: absolute;
  top: 0;
  left: 0;
}
.image-comparison-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-comparison-slider-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid silver;
  cursor: grab;
  font-size: 1.5em;
  text-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 6px;
  margin-left: -15px;
}
.image-comparison-slider-handle:before,
.image-comparison-slider-handle:after {
  position: absolute;
  height: 9999px;
  width: 3px;
  background-color: silver;
  content: " ";
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-clip: padding-box;
}
.image-comparison-slider-handle:before {
  bottom: 27px;
}
.image-comparison-slider-handle:after {
  top: 27px;
}
.dummy-detail {
  width: 100%;
  transition: height 0.2s ease;
}
.detail-container {
  width: 100%;
  overflow: hidden;
  transition: height 0.2s ease;
  font-size: 1.125rem;
  margin-bottom: 5px;
}
.detail-container .detail-content {
  padding: 15px;
  background-color: #333333;
  border-bottom: 4px solid silver;
  border-left: 4px solid silver;
  border-right: 4px solid silver;
}
.detail-container .arrow-container hr {
  border: silver solid 2px;
  margin: -9px 0 0 0;
}
.detail-container .arrow {
  display: inline-block;
  position: relative;
  font-size: 2em;
  transition: transform 0.2s ease;
  margin-top: -9px;
}
.detail-container .loading {
  padding: 0 15px;
  background-color: #333333;
  text-align: center;
  height: 181.12px;
}
.detail-container .loading img {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 128px;
  height: 128px;
  margin-top: 26.56px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*******
  Utility classes
****/
.hide {
  display: none !important;
}
.max-width-100 {
  max-width: 100%;
}
