* {
  box-sizing: border-box;
}

@color: silver;
@bgColor: #222222;
@fontSize: 1rem;
// The maximum width!
@contentWidth: 1080px;
@contentPadding: 15px;

@transitionAnimation: 0.2s ease;
.heightTransition() {
  transition: height @transitionAnimation;
}

body {
  color: @color;
  background-color: @bgColor;
  overflow-y:scroll;
}

.content-wrapper {
  width: 100%;
  max-width: @contentWidth;
  margin: 0 auto;
  padding: 0px @contentPadding ;
}

.content {
  position:relative;
}

@arrowMargin: -9px;
@galleryItemsPerRow: 3;
@galleryMargin: 5px;
@galleryItemWidth: (100/@galleryItemsPerRow);
@galleryItemWidthCalculated: calc(~"@{galleryItemWidth}% - @{galleryMargin}");
@loadingSize: 128px;
// Since it's rotating and the loading gif is a square it's sqrt( 2 )
@loadingFullSize: @loadingSize * 1.415; // Bit above sqrt ( 2 ) 1.41421356237...

#index_items {
  .img-wrapper {
    cursor: pointer;
  }
}

.list {
  &.ul {
    list-style: none;
  }

  padding-left: 0;
  font-size: 0;

  // Source for the rectangular calculations: https://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
  .item {
    display:inline-block;
    margin-right: @galleryMargin;
    margin-bottom: @galleryMargin;
    width: @galleryItemWidthCalculated;
    position:relative;

    &::before {
      content:"";
      display:block;
      margin-top:100%;
    }

    .img-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.item-content {
  .video-embed-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    .video-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.dummy-detail {
  width: 100%;
  .heightTransition();
}

// Content popout css
.detail-container {
  width: 100%;
  //margin-top: -@contentPadding;
  overflow: hidden;
  .heightTransition();
  font-size: @fontSize;

  .detail-content {
    padding: @contentPadding 0;
  }

  .arrow-container {
    //border-bottom: @color solid 1px;
    hr {
      border: @color solid 2px;
      margin: @arrowMargin 0 0 0;
    }
  }
  .arrow {
    display: inline-block;
    position: relative;
    font-size: 2em;
    transition: left @transitionAnimation;
    margin-top: @arrowMargin;
  }

  .loading {

    height: @loadingFullSize;
    img {
      animation-name: spin;
      animation-duration: 3000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      width:128px;
      height: 128px;
      margin-top: (@loadingFullSize - @loadingSize) * 0.5;

      @keyframes spin {
        from {
          transform: rotate(0deg); }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}

/*******
  Utility classes
****/
.hide {
  display:none !important;
}